<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include nav %>
			<div class="jumbotron">
				<h1>
				BaiLarn
				</h1>
				<p>
				An application that would help students to study more conveniently with features such as In-class Helper, Class Schedules and Announcements Notifications, and Academic Reminder
				</p>
			</div>
		</div>
	</div>
</div>