<nav class="navbar navbar-default" role="navigation">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li >
				<a href="/">Home</a>
			</li>
			<!-- <li >
							<a href="/user">User</a>
			</li> -->
			<li>
				<a href="/course">Course</a>
			</li>
			<li>
				<a href="/material">Material</a>
			</li>
			
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<% if(!req.user) {%>
			<li>
				<a href="/login">Login</a>
			</li>
			<% } else { %>
			<li>
				<a href="">Welcome, <%= req.user.firstname %></a>
			</li>
			<li>
				<a href="/logout">Logout</a>
			</li>
			<% } %>
		</ul>
	</div>
	
</nav>