<div class="container-fluid">
  <h1>Users</h1>
  <% users.forEach(function(user){ %>
  <h2><%= user.firstname %> <%= user.lastname %></h2>
  <p>ID: <%= user.user_id %></p>
  <p>Gender: <%= user.gender %></p>
  <p>Year: <%= user.year %></p>
  <p>Section: <%= user.section %></p>
  <p>University: <%= user.university.name %></p>
  <p>Faculty: <%= user.faculty.name %></p>
  <%  if(user.major){ %>
  <p>Major: <%= user.major.name %></p>
  <% } %>
  <% }) %>
</div>