<div class="container">
	<div class="starter-template">
		<div class="container">
			<form class="form-horizontal" action="/session/new" method="POST">
				<fieldset>
					<!-- Form Name -->
					<legend>Login</legend>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="username">Username</label>
						<div class="controls">
							<input id="username" name="username" type="text" placeholder="Username" class="input-xlarge" required="true">
						</div>
					</div>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="password">Username</label>
						<div class="controls">
							<input id="password" name="password" type="password" placeholder="Password" class="input-xlarge" required="true">
						</div>
					</div>
					
					<!-- Button (Double) -->
					<div class="control-group">
						<label class="control-label" for="submit"></label>
						<div class="controls">
							<button id="submit" name="submit" class="btn btn-success">Submit</button>
							<button id="reset" name="reset" class="btn btn-danger">Reset</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
	</div><!-- /.container -->
	<script src="/js/user/new.js"></script>