<%- block('universityIndex', ' <script src="/js/university/index.js"></script>') %>
</script>
<div class="container-fluid">
	<h1>University</h1>
	<% universities.forEach(function(uni){ %>
	<div class="university" id="<%= uni.id %>">
		<h2><%= uni.name %> -  <%= uni.abbr_name %></h2>
			<% uni.faculties.forEach(function(faculty){ %>
			<div class="faculty" id="<%= faculty.id %>">
				<p><%= faculty.name %></p>
			</div>
			<% }); %>
		<% }); %>
	</div>
</div>