<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>Material Upload Successful</h1>
			<% results.forEach(function(result){%>
			<h3><%= result.file %> - <%= result.result  %></h3>
			<%});  %>
			<a href="/material" class="btn btn-info">Back</a>
		</div>
	</div>
</div>