<%- block('courseIndex', ' <script src="/js/course/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Course Management
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% var courseIndex = 0 ;%>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal uploadForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button -->
								<div class="control-group">
									<label class="control-label" for="material">Upload Student List</label>
									<div class="controls">
										<input name="student_list" class="form-control" type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
									</div>
								</div>
								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<form class="form-horizontal addStudentForm" action="" method="post">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button -->
								<div class="control-group">
									<label class="control-label" for="material">Add Student to Course</label>
									<div class="controls">
										<input name="id" class="form-control" type="text"  />
									</div>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Add" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<h1><%= course.course_code %> - <%= course.name %></h1>
						<h3>Enrolled Student <button class="btn btn-info" id="refreshButton">Refresh</button></h3>
						<table class="table student-table">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Name
									</th>
									<th>
									Section
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i< students[courseIndex].length ; i++){ %>
								<% var student = students[courseIndex][i]; %>
								
								<tr class="student-row" id="<%= student.id %>">
									<td>
										<%= i+1 %>
									</td>
									<td>
										<%= student.user_id %>
									</td>
									<td>
										<%= student.firstname %> <%= student.lastname %>
									</td>
									<td>
										<%= student.section %>
									</td>
									<td>
										<button class="btn btn-danger deleteButton" value="<%= student.id %>" name="<%= student.firstname %> <%= student.lastname %>">Delete</button>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% courseIndex++; %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>